{{page-title "Details"}}
<h1>{{@model.title}}</h1>
<h3 class="text-center">{{@model.description}}</h3>
<div class="recipe-info-section">
  <h3>Ingredients</h3>
  <ul>
    {{#each @model.ingredients as |ingredient|}}
      <li>{{ingredient}}</li>
    {{/each}}
  </ul>
</div>
<div class="recipe-info-section">
  <h3>Instructions</h3>
  <p>{{@model.instructions}}</p>
</div>